/*=============================================
=                  Typography                 =
=============================================*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

*, h1, h2, h3, h4, h5, h6, p, a, small {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color:    $black;
}

h1 {
    font-size: 1.8rem;
    color:    white;
}

h2 {
    font-size:    2.2rem;
    font-weight:     700;
    padding-bottom: 54px;
}

h2:after {
  content: "";
  width: 40px;
  top:  116px;
  left:   50%;
  margin-left: -20px;
  position: absolute;
  border-bottom: 6px solid $brand;
}

h3 {font-size: 1.4rem}

h4 {
    font-weight:    700;
    margin-bottom: 12px;
}

h5 {font-size: 1rem}

p {
    font-size:     1rem;
    line-height:    1.4;
    margin-bottom: 24px;
}

small {font-size: 12px}

a, .fa, button {cursor: pointer}

.light {
    color:    $black;
    margin-bottom: 0;

    span, a {color: white;
        a:hover{color: darken(white,8)}
    }
}